[Desktop Entry]
Version=1.0
Type=Application
Name=Artemis
GenericName=Artemis
Comment=Radio Signals Recognition Manual
Exec=artemis-launcher
Icon=com.aresvalley.artemis
Terminal=false
Categories=Utility;Science;
StartupWMClass=artemis